.admin-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    min-height: 100vh;
    margin: 0px auto;
}

.admin-home-container h2 {
    font-size: 36px;
    color: #262626;
    font-weight: 600;
    margin-bottom: 6px;
    text-align: center;
}

.admin-home-container h3 {
    font-size: 22px;
    color: #262626;
    font-weight: 600;
    margin-bottom: 18px;
    text-align: center;
}

.admin-home-container p {
    font-size: 18px;
    margin-bottom: 8px;
    text-align: center;
}


/* media queries */
@media screen and (max-width: 992px) {
    .admin-home-container h2 {
        font-size: 30px;
    }

    .admin-home-container h3 {
        font-size: 20px;
    }

    .admin-home-container p {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .admin-home-container {
        width: 80%;
    }
}