.food-items-container {
    width: 70%;
    margin: 50px 20px 0px 50px;
    color: #6D6D6D;
    font-size: 16px;
}

.list-table {
    margin: 5px 0px;
}

.list-table-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 0.5fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.list-table-format.title {
    background-color: #f9f9f9;
}

.list-table-format img {
    width: 50px;
}

.delete_icon {
    width: 14px !important;
    height: 100%;
    margin-left: 12px;
    object-fit: contain;
    cursor: pointer;
}

.no-food-items-heading {
    text-align: center;
    margin: 40px 0px 0px;
}


/* media queries */
@media screen and (max-width: 992px) {
    .food-items-container {
        margin: 50px auto;
    }
}

@media screen and (max-width: 768px) {
    .list-table-format>* {
        text-align: center;
    }

    .list-table-format img {
        margin: auto;
    }
}

@media screen and (max-width: 576px) {
    .food-items-container {
        width: 92%;
    }

    .list-table-format img {
        width: 48px;
    }

    .list-table-format {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}