.orders-container {
    width: 70%;
    margin: 50px 20px 0px 50px;
    color: #6D6D6D;
    font-size: 16px;
}

.order-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    border: 1px solid tomato;
    padding: 20px;
    margin: 5px 0px 20px;
    font-size: 14px;
    color: #505050;
}

.order-item-food,
.order-item-name {
    font-weight: 600;
}

.order-item-name {
    margin-top: 30px;
    margin-bottom: 5px;
}

.order-item-address {
    margin-bottom: 10px;
}

.order-item select {
    background-color: #ffe8e4;
    border: 1px solid tomato;
    width: max(10vw, 150px);
    padding: 10px 2px;
    outline: none;
}

.no-orders-placed-heading {
    text-align: center;
    margin: 40px 0px 0px;
}


/* media queries */
@media screen and (max-width: 992px) {
    .orders-container {
        margin: 45px auto;
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .orders-container {
        width: 85%;
    }

    .order-item {
        font-size: 12px;
        gap: 22px;
    }

    .order-item select {
        width: max(10vw, 128px);
        font-size: 12px;
        padding: 8px 0px;
    }
}

@media screen and (max-width: 576px) {
    .orders-container {
        width: 90%;
    }

    .order-item {
        padding: 20px 12px;
        gap: 20px;
        grid-template-columns: 0.5fr 2.5fr 1.5fr 1fr 0.5fr;
    }

    .order-item>img {
        width: 42px;
    }

    .order-item-name {
        margin-top: 25px;
    }

    .order-item select {
        width: 18px;
        padding: 0px;
        border: none;
        background-color: transparent;
        text-indent: -9999px;
    }
}